backup/
entries_by_pinyins/
entries_by_strokes/
entries_by_radicals/
log/
tmp/
.kile/
pinyins.pdf
pinyins-book.pdf
pinyins-booklet.pdf
radicals.pdf
radicals-book.pdf
radicals-booklet.pdf
strokes.pdf
strokes-book.pdf
strokes-booklet.pdf
*.done
*.aux
*.idx
*.ilg
*.ind
*.kilepr
*.log
*.toc
*.out
*.loh
